.nav-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
  background-color: #fff;
  padding: 1px 0px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  flex: 1;
  text-align: center;
}

.nav-item {
  font-size: 20px;
  color: rgba(128, 128, 128, 0.623);
}

.active-nav-item {
  color: black;
}
